
.review {
    position: relative;
    display: flex;
    padding-top: 15px;
    margin-bottom: 15px;
}

.review__leave {
    position: absolute;
    top: 20px;
    right: 0px;
    text-decoration: underline;
    font-size: 15px;
}

.container {
    max-width: 317px;
    margin: auto;
    overflow: hidden;
}

.all__number {
    vertical-align: bottom;
    font-size: 10px;
    font-weight: 20;
    padding-left: 3px;
}

.review__all {
    font-size: 16px;
    font-weight: bold;
    margin: auto 0 auto 13px;
}

.review__back {
    margin: auto 0 auto 0;
}

.sorting__text {
    font-size: 20px;
}

.sorting {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.filter__text {
    margin: auto 0 auto 10px;
    opacity: 70%;
    font-size: 13px;
}

.rating__table span {
    padding: 0;
    font-size: 18px;
    line-height: 1;
    color: white;
    text-shadow: 1px 1px #bbb;
}

.rating__table > span:before {
    content: '★';
}

.rating__table > span.active {
    color: black;
    text-shadow: 1px 1px #c60;
}

.sorting__filter {
    display: flex;
}

.sorting__rating {
    display: flex;
}

.rating__score {
    font-size: 12px;
    margin: auto 0 auto 12px;
}

.data__date {
    margin: auto 0 auto 10px;
    opacity: 70%;
    font-size: 13px;
}

.comment__data {
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
}

.comment__name {
    font-size: 15px;
    margin-top: 8px;
}

.comment__about {
    display: flex;
    justify-content: space-between;
}

.about__rating {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.rating__dislike {
    display: flex;
    margin: auto 0 auto 20px;
}

.rating__like {
    display: flex;
    align-items: flex-end;
}

.thumb {
    height: 16px;
    width: 16px;
    margin-right: 5px;
}

.about__info {
    font-size: 11px;
    margin: auto 0 auto 0;
}

.comment__text {
    opacity: 70%;
    font-size: 13.3px;
    margin: 5px 0;
}

.comment__sub-text {
    font-size: 10.7px;
    opacity: 50%;
    margin-bottom: 4px;
    padding-top: 3px;
}

.img {
    display: flex;
    justify-content: space-around;
    margin-bottom: 6.5px;
    margin-top: 14px;
}

.shoes-png {
    max-width: 50px;
    max-height: 70px;
}